.premiumPage {
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  .price {
    &__list {
      display: flex;
      gap: 62px;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 50px;
    }
    &__title {
      margin-bottom: 82px;
      .title__premium {
        font-weight: 800;
      }
    }
  }

  .title {
    color: $brand-secondary;
    text-align: center;
    font-size: 48px;
    font-weight: 400;
    margin-bottom: 50px;
    &__premium {
      color: $brand-premium;
    }
  }

  .banner {
    background: rgba(217, 217, 217, 0.8);
    border-radius: 40px;
    max-width: 564px;
    padding: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__duration {
      font-size: 30px;
      line-height: 35px;
      text-decoration-line: underline;

      color: #2d2c2c;

      margin-bottom: 36px;
    }
    &__price {
      font-size: 24px;
      line-height: 29px;

      color: #2948b5;

      margin-bottom: 42px;
    }
    &__list {
      list-style: none;
      padding: 0;
      font-size: 24px;
      line-height: 28px;

      margin-top: 0;
      margin-bottom: 42px;
    }
    &__item {
      font-size: 24px;
      line-height: 28px;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: #000000;
        left: -17px;
        top: 13px;
      }
      &:not(:last-child) {
        margin-bottom: 32px;
      }
    }
    &__button {
      border: none;
      background: #00a6ed;
      border-radius: 20px;
      font-size: 20px;
      line-height: 24px;
      color: $brand-secondary;
      cursor: pointer;
      margin-bottom: 70px;
      padding: 10px;
      width: 300px;
    }
  }

  .includes {
    margin-bottom: 72px;
    &__content {
      padding: 50px 40px 90px;
      background: rgba(255, 255, 255, 0.3);
      border-radius: 40px;
    }
    &__subtitle {
      text-align: center;
      color: #2948b5;
      font-size: 34px;
      line-height: 40px;
      margin-bottom: 50px;
    }
    .slider {
      overflow: hidden;
      &__list {
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 80px;
        list-style: none;
      }
      &__item {
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
      }
      &__image {
        border-radius: 40px;
        background-color: $brand-secondary;
      }
      &__text {
        font-weight: 600;
        font-size: 48px;
        line-height: 56px;
    
        color: #ffffff;
      }
    }
  }

  .important {
    margin-bottom: 300px;
    &__title {
      margin-bottom: 16px;
    }
    &__image {
      border-radius: 40px;
    }
  }
}

