.container {
  max-width: 1240px;
  margin: 0 auto;
}

.logo {
  &__name {
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    font-family: sans-serif;
    background: linear-gradient(90deg, #0164e7 2.94%, #019cf4 105.65%);
    background-clip: text;
    color: transparent;
  }

  &__pro {
    font-family: "Kulim Park";
    font-weight: 700;
    font-size: 40px;
    line-height: 45px;
    background: linear-gradient(90deg, #fd6815 8.56%, #ff0000 122.95%);
    border-radius: 20px;
    color: #ffffff;
    padding-left: 13px;
    padding-right: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
  }

  &__icon {
    height: .75em;
    background-image: url("../../assets/pro/pro.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: .75em;
  }
}

.pro {
  margin-top: 40px;
  margin-bottom: 174px;
  &__content {
    display: flex;
    flex-direction: column;
  }
  &__logo {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 15px;
    border: 1px solid #0164e7;
    border-top: none;
    border-bottom: none;
    margin: 0 auto;
    align-self: center;
    margin-bottom: 100px;
  }
  &__text {
    font-weight: 400;
    font-size: 25px;
    line-height: 40px;
    margin-bottom: 53px;
  }
  &__paragraph {
    margin-bottom: 55px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__accent {
    font-weight: 700;
    font-size: 25px;
    line-height: 40px;
    color: #0164e7;
    & > span {
      color: #fd6815;
    }
  }
  &__cards {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 60px;
  }
}

.card {
  padding: 10px 20px 32px 20px;
  background: linear-gradient(90deg, #0164e7 2.94%, #019cf4 105.65%);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  color: #ffffff;
  &__title {
    font-size: 25px;
    line-height: 40px;
    & > b {
      font-weight: 700;
    }
  }

  &__item {
    margin-left: 40px;
    position: relative;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
    &::before {
      content: "";
      position: absolute;
      left: -40px;
      top: 50%;
      background-image: url("../../assets/pro/check.svg");
      background-repeat: no-repeat;
      background-position: center;
      width: 20px;
      height: 20px;
      transform: translateY(-50%);
    }
  }

  &__button {
    padding: 10px;
    background: #ffffff;
    border-radius: 20px;
    border: none;
    font-weight: 700;
    font-size: 25px;
    line-height: 40px;
    font-family: "Montserrat";
    outline: none;
    cursor: pointer;
  }
  &__clipped-text {
    background-image: linear-gradient(90deg, #0164e7 2.94%, #019cf4 105.65%);
    background-clip: text;
    color: transparent;
  }
}
