@import "../../../styles/variables";

.container {
  max-width: 1240px;
  margin: 0 auto;
}

.logo {
  &__name {
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    font-family: sans-serif;
    background: $gradient-blue;
    background-clip: text;
    color: transparent;
  }

  &__pro {
    font-family: "Kulim Park";
    font-weight: 700;
    font-size: 40px;
    line-height: 45px;
    background: $gradient-orange;
    border-radius: 20px;
    color: $white;
    padding-left: 13px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
  }

  &__icon {
    height: .75em;
    background-image: url("../../../assets/pro/pro.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: .75em;
  }
}

.pro {
  margin-top: 40px;
  margin-bottom: 174px;
  &__content {
    display: flex;
    flex-direction: column;
  }
  &__logo {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 15px;
    border: 1px solid $dark-blue;
    border-top: none;
    border-bottom: none;
    margin: 0 auto;
    align-self: center;
    margin-bottom: 100px;
  }
  &__text {
    font-weight: 400;
    font-size: 25px;
    line-height: 40px;
    margin-bottom: 53px;
  }
  &__paragraph {
    margin-bottom: 55px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__accent {
    font-weight: 700;
    font-size: 25px;
    line-height: 40px;
    color: $dark-blue;
    & > span {
      color: $orange;
    }
  }
  &__cards {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 60px;
  }
}

