@import "../../styles/index.scss";
.registerBtn {
  @include fz20;
  padding: 10px 15px;
  text-align: center;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  color: #ffffff;
  background: linear-gradient(90deg, #0164e7 2.94%, #019cf4 105.65%);
}
.btnEnter {
  @include fz20;
  text-align: center;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
  border: 2px solid $secondary-color;
  background: #ffffff;
  color: $secondary-color;
}
