footer {
  margin-top: 100px;
  background: $gradient-blue;
  height: 330px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: $white;

  .footer__top {
    padding: 0 174px;
  }

  .footer__bottom {
    padding: 0 174px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h2 {
      margin-bottom: 20px;
    }

    ul {
      list-style-type: none;
      font-size: 16px;
      font-weight: 400;
      line-height: 28px;

      a {
        text-decoration: none;
        color: $white;
      }
    }

    &__application {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 25px;
    }
  }
}
