.registerPage {
    background-image: url("../../assets/categories/bg_registration.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }