@import "../../styles/index.scss";
.form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 58px;
  margin: 0 auto;
  width: 830px;
  padding: 26px 10px;
  border-radius: 20px;
  background: #ffffff;
  &__logo {
    display: block;
    width: 140px;
    height: 56px;
  }
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    // height: 100%;
  }
  &__yoga {
    width: 320px;
  }
  &__title {
    @include fz30;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
    color: $secondary-color;
  }
  &__subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    @include fz18;
    margin-bottom: 15px;
    color: $secondary-color;
  }
  &__label {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    @include fz16;
    color: $secondary-color;
    span {
      position: absolute;
      top: 55px;
      z-index: 10;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      color: #e70101;
    }
  }
  &__input {
    @include inputs;
  }
  &__label-input {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 12px;
    color: $secondary-color;
  }
  &__inputNames {
    @include fz16;
    border: none;
    padding-bottom: 4px;
    width: 165px;
    border: none;
    border-right: 1px solid $secondary-color;
    border-bottom: 1px solid $secondary-color;
    color: #7d7d7d;
  }
  &__wrapper {
    position: relative;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    gap: 40px;
  }
  &__wrapperBtns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  &__wrapperLogos {
    display: flex;
    justify-content: space-between;
    height: 538px;
    padding: 40px 0;
    flex-direction: column;
    align-items: center;
  }
  &__line {
    display: block;
    width: 140px;
    height: 2px;
    background-color: $secondary-color;
  }
}
