@import "../../styles/variables";

.container {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 0 30px;
}

.logo {
  display: inline-flex;
  gap: 10px;
  padding: 15px;
  border: 1px solid $dark-blue;
  border-top: none;
  border-bottom: none;
  margin: 44px auto 30px;
  font-weight: 700;
  line-height: 55px;
  font-family: Montserrat, sans-serif;
  color: $dark-blue;
  font-size: 45px;
  font-weight: 700;
  text-transform: uppercase;
  background: $gradient-blue;
  background-clip: text;
  color: transparent;
  &__accent {
    color: $orange;
  }
}

.form-buy {
  display: flex;
  flex-wrap: wrap;
  gap: 200px;
  .names {
    input {
      width: 555px;
    }
  }
  .info {
    input {
      width: 330px;
    }
  }
  .description {
    font-size: 15px;
  }
  & label {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    & > div {
      color: $black;
      font-size: 20px;
      font-family: Montserrat;
    }
    input {
      display: block;
      padding: 20px 10px;
      font-size: 20px;
      border-radius: 15px;
      border: 1px solid #7d7d7d;
    }
  }
}

.button {
  margin-top: 52px;
  padding: 15px 100px;
}
