@import '../../../styles/variables.scss';

.profile__user {
  display: flex;
  align-items: center;
  gap: 40px;
  &__right_side {
    position: relative;
    img {
      border-radius: 50%;
      border: 3px solid $dark-blue;
    }
    .pro {
      padding: 8px;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      background: $gradient-orange;
      border-radius: 50%;
      top: 2px;
      right: 5px;
    }
    .camera {
      padding: 8px;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      background: $gradient-blue;
      border: 3px solid $white;
      border-radius: 50%;
      right: 5px;
      bottom: 2px;
    }
  }
  &__left_side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 160px;
    h2 {
      font-weight: 700;
      font-size: 30px;
    }
    .buttons {
      display: flex;
      gap: 10px;
      button {
        &:nth-child(1) {
          font-weight: 700;
          font-size: 20px;
          color: $white;
          background: $gradient-blue;
          border: none;
          cursor: pointer;
        }
        &:nth-child(2) {
          font-weight: 700;
          font-size: 20px;
          color: $blue;
          background: transparent;
          border: 2px solid $blue;
          cursor: pointer;
        }
      }
    }
  }
}
