@import "../../../styles/variables";

.card {
  padding: 10px 20px 32px 20px;
  background: $orange;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  color: $white;
  &__title {
    font-size: 25px;
    line-height: 40px;
    & > b {
      font-weight: 700;
    }
  }

  &__item {
    margin-left: 40px;
    position: relative;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
    &::before {
      content: "";
      position: absolute;
      left: -40px;
      top: 50%;
      background-image: url("../../../assets/pro/check.svg");
      background-repeat: no-repeat;
      background-position: center;
      width: 20px;
      height: 20px;
      transform: translateY(-50%);
    }
  }

  &__button {
    padding: 10px;
    background: $white;
    color: $orange;
    border-radius: 20px;
    border: none;
    font-weight: 700;
    font-size: 25px;
    line-height: 40px;
    font-family: "Montserrat";
    outline: none;
    cursor: pointer;
    transition: .25s;
    &:hover {
      box-shadow: 0px 0px 2px 0px $orange inset;
    }
    &:active {
      box-shadow: 0px 0px 10px 0px $orange inset;
    }
  }
}
