.waterComponent {
    width: 1240px;
    margin: 0 auto;
   h2{
     padding: 15px 25px 15px 15px;
     border-left: solid 2px #019CF4 ;
   }
    .water_info{
      width: 1235px;
      height: 96px;
      margin-top: 50px;
      p{
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: #484848;
      }
    }
  }
  h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    text-transform: uppercase;
    color: #231F20;
  }
  h3{
    font-weight: 700;
    margin: 45px 0 30px;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
  }
  .aboutCalc {
    width: 1240px;
    font-weight: 400;
    font-size: 28px;
    line-height: 40px;
    text-align: center;
    color: #000000;
  }
  .waterAbout {
    width: 769px;
    height: 603px;
    margin: 50px auto 0;
    display: flex;
    justify-content: space-between;
    img {
      border-radius: 30px;
    }
  
    .waterRight {
      width: 420px;
      .weight_block {
        width: 420px;
        height: 122px;
        p {
          font-weight: 400;
          font-size: 25px;
          line-height: 40px;
          color: #000000;
        }
  
        input {
          width: 271px;
          outline-color: #9747ff !important;
          input[type='range']::-moz-range-track{
            background: #B389EA;
          }
        }
  
        span {
          font-weight: 700;
          font-size: 40px;
          line-height: 40px;
          color: #000000;
          margin-left: 16px;
        }
  
        .weight_range {
          width: 271px;
          display: flex;
          align-items: center;
          justify-content: space-between;
  
          p {
            font-weight: 400;
            font-size: 20px;
            line-height: 40px;
            color: #000000;
          }
  
        }
      }
  
      .activity_block {
        width: 420px;
        height: 122px;
        margin-top: 50px;
  
        p {
          font-weight: 400;
          font-size: 25px;
          line-height: 40px;
          color: #000000;
        }
  
        input {
          width: 271px;
        }
  
  
        span {
          font-weight: 700;
          font-size: 40px;
          line-height: 40px;
          color: #000000;
          margin-left: 48px;
  
        }
  
        .activity_range {
          width: 271px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          p {
            font-weight: 400;
            font-size: 20px;
            line-height: 40px;
            color: #000000;
          }
        }
      }
  
      .total_block {
        width: 392px;
        height: 163px;
        margin-top: 50px;
        p {
          font-weight: 400;
          font-size: 25px;
          line-height: 40px;
          background: linear-gradient(90deg, #0164E7 2.94%, #019CF4 105.65%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          text-fill-color: transparent;
        }
  
        .total_inner {
          width: 392px;
          height: 103px;
          display: flex;
          align-items: center;
          margin-top: 25px;
          border-radius: 15px;
          border: blue solid;
  
          h3 {
            margin: 0 10px 0 20px;
            font-weight: 700;
            font-size: 80px;
            line-height: 98px;
            background: linear-gradient(90deg, #0164E7 2.94%, #019CF4 105.65%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            text-fill-color: transparent;
          }
  
          p {
            margin-top: 43px;
            font-weight: 700;
            font-size: 20px;
            line-height: 40px;
            background: linear-gradient(90deg, #0164E7 2.94%, #019CF4 105.65%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            text-fill-color: transparent;
          }
        }
      }
  
      .btns {
        display: flex;
        margin: 0 77px 35px 67px;
        .man {
          width: 146px;
          height: 60px;
          background: linear-gradient(90deg, #0164E7 2.94%, #019CF4 105.65%);
          border-radius: 15px 0 0 15px;
          border: none;
          font-weight: 700;
          font-size: 25px;
          line-height: 40px;
          color: #FFFFFF;
          cursor: pointer;
        }
  
        .woman {
          cursor: pointer;
          font-weight: 700;
          font-size: 25px;
          line-height: 40px;
          color: #000000;
          border: none;
          width: 140px;
          height: 60px;
          border-radius: 0 15px 15px 0;
        }
      }
    }
  }